In [3]:
"""
 _____  _   _ ______  _____  _____   _____  _   _   ___    ___   _   _  _   _ 
/  ___|| | | || ___ \|  ___||  ___| |_   _|| | | | / _ \  / _ \ | \ | || | | |
\ `--. | |_| || |_/ /| |__  | |__     | |  | |_| |/ /_\ \/ /_\ \|  \| || | | |
 `--. \|  _  ||    / |  __| |  __|    | |  |  _  ||  _  ||  _  || . ` || | | |
/\__/ /| | | || |\ \ | |___ | |___    | |  | | | || | | || | | || |\  || |_| |
\____/ \_| |_/\_| \_|\____/ \____/    \_/  \_| |_/\_| |_/\_| |_/\_| \_/ \___/ 

"""

# Add required headers

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn import linear_model # sklearn (ScikitLearn)

In [4]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
# Data preprocessing : Filling the missing value (NAN) By finding median of the column
df.bedrooms.median()

4.0

In [13]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [12]:
 df.bedrooms = df.bedrooms.fillna(median_bedrooms)
 df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
# now the median value is upadated with the nan value, so lets move on to do linear regression
reg = linear_model.LinearRegression()

In [16]:
reg.fit(df[['area','bedrooms','age']], df.price )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [20]:
reg.intercept_

221323.00186540408

In [21]:
# Lets the predict the values 
reg.predict([[3000,3,40]])

array([498408.25158031])

In [24]:
# lets cross check how we get the value 

112.06244194*3000+23388.88007794*3+-3231*40+221323.00186540408

498436.96791922406

In [ ]:
# This is how we predict the data based on multiple columns